
<div class="row">


    <div class="col-md-3">
        <div>
            <div class="pull-left">
                <h4>@ViewData["Title"]</h4>
            </div>

        </div>

    </div>

    <div class="col-md-3">
        <div>
            <div class="pull-left">
                <a asp-action="Create" class="btn btn-primary">
                    <span title="Cadastrar nova" class="fa-regular fa-square-plus"></span> Incluir
                </a>
            </div>

        </div>

    </div>

    <div class="col-md-3">
        <div>

            <div class="pull-left">
                <a asp-action="Listar" class="btn btn-primary">
                    <span title="Listagem" class="fa-solid fa-table-list"></span>  Listagem
                </a>
            </div>
        </div>

    </div>

    <div class="col-md-3">
        <div>

            <div class="pull-left">
                <a asp-action="BaixarPdf" class="btn btn-secondary">
                    <span title="Listagem" class="fa-regular fa-file-pdf"></span> PDF
                </a>
            </div>
        </div>

    </div>


</div>
<hr />
