
<div class="row">


    <div class="col-md-3">
        <div>
            <div class="pull-left">
                <h4>@ViewData["Title"]</h4>
            </div>

        </div>

    </div>

    <div class="col-md-3">
        <div>
            <div class="pull-left">
                <a asp-action="Create" class="btn btn-primary">
                    <span title="Cadastrar nova" class="fa-regular fa-square-plus"></span> Incluir
                </a>
            </div>

        </div>

    </div>

    <div class="col-md-3">
        <div>

            <div class="pull-left">
                <a asp-action="Agenda" asp-route-role="Geral" class="btn btn-primary">
                    <span title="Agenda" class="fa-solid fa-table-list"></span>  Agenda
                </a>
            </div>
        </div>

    </div>

  


</div>
<hr />
