@model Facil.Aplicacao.DTOs.ClienteDTO

@{
    ViewData["Title"] = "Alterar Cliente";
}

@await Html.PartialAsync("_Cadastro_Cabecalho")

<form asp-action="Edit">

    <div class="container">
       
        @await Html.PartialAsync("_DadosCliente")       

            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-primary" />
            </div>

        </div>
           
</form>



